@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #383838;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
}

#logo {
  border-radius: 50%;
  padding: 20px;
}

#name {
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  /*font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 900;*/
  color: white;
  /*font-family: 'Montserrat', sans-serif;*/
}

#right {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: white;
  text-align: center;
  margin: 50px;
  white-space: nowrap;
  padding-top: 20px;
}

#intro {
  font-size: 35px;
  padding: 10px;
}

#links {
  margin: auto;
  padding: 10px;
  font-size: 25px;
}

.linkitem {
  padding: 10px;
}

a {
  text-underline-offset: 3px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: darkgrey;
}

a:active {
  color: lightslategrey;
}