h1.Gpara {
	font-family:arial;
	font-size: 50px;
	color: red; 
	font-weight: bold;
}
h1 {
	font-size: 30px;
	color: red; font-weight: bold;
	text-align : center;
}
h2 {
	text-align : center;
	font-family:arial;
	font-size: 25px;
	color: black; 
	font-weight: bold;
}
button {
  background: #ce7fab;
  background-image: -webkit-linear-gradient(top, #ce7fab, #e3429c);
  background-image: -moz-linear-gradient(top, #ce7fab, #e3429c);
  background-image: -ms-linear-gradient(top, #ce7fab, #e3429c);
  background-image: -o-linear-gradient(top, #ce7fab, #e3429c);
  background-image: linear-gradient(to bottom, #ce7fab, #e3429c);
	-webkit-border-radius: 9;
	-moz-border-radius: 9;
	border-radius: 9px;
	-webkit-box-shadow: 2px 2px 2px #f01d91;
	-moz-box-shadow: 2px 2px 2px #f01d91;
	box-shadow: 2px 2px 2px #f01d91;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
button:hover {
  background: #f02091;
  text-decoration: none;
}
body {
	margin:20px;
	background-color: #f3c8e0;
	background-image:
		-moz-linear-gradient(45deg, #F3C8E0 25%, transparent 25%), 
		-moz-linear-gradient(-45deg, #F3C8E0 25%, transparent 25%),
		-moz-linear-gradient(45deg, transparent 75%, #F9BADD 75%),
		-moz-linear-gradient(-45deg, transparent 75%, #F9BADD 75%);
	background-image:
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #F9BADD), color-stop(.25, transparent)), 
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #F9BADD), color-stop(.25, transparent)),
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #F9BADD)),
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #F9BADD));
			-moz-background-size:100px 100px;
			background-size:100px 100px;
			-webkit-background-size:100px 101px;
	background-position:0 0, 50px 0, 50px -50px, 0px 50px;
	}
p.firstpara {
	font-family:arial;
	font-weight: bold ;
	font-size : 20px;
	margin-left:170px;
	margin-top: 20px;
	border-radius: 10px;
	margin-right: 20px;
	border: 0.5px solid black;
}
p.Gpara {
	font-size: 30px;
	color: red; 
	font-weight: bold;
	text-align: center;
}
p.firstpara {
    background-color: lightgrey;
    width: 1020px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
p.custom {
	font-family:arial;
	font-size: 30px;
	color: red; 
	text-align: center;
	font-weight: bold;
}
p.errormessage {
    text-align: center;
    color: red;
}
div {
	font-family:arial;
	font-size: 20px;
    width: 1020px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px;
}
