header {
  padding-left: 10px;
  background-color: lightblue;
}

@keyframes anim {
  0% {
    top: 70px;
    left: 15px;
    transform: rotate(-30deg);
    color: #ff7c35;
  }
  25% {
    top: 70px;
    left: 50px;
    transform: rotate(30deg);
    color: #ff7c35;
  }
  50% {
    top: 120px;
    left: 50px;
    transform: rotate(-30deg);
    color: #ff7c35;
  }
  75% {
    top: 120px;
    left: 15px;
    transform: rotate(30deg);
    color: #ff7c35;
  }
  100% {
    top: 70px;
    left: 15px;
    transform: rotate(-30deg);
    color: #ff7c35;
  }
}

.logo {
  width: 200px;
}

h1.title {
  margin: auto;
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 15px;
  transform: rotate(-30deg);
  color: #ff7c35;
  font-family: "Charcoal";
  animation-name: anim;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

h1.design {
  margin: auto;
  font-size: 20px;
}

h2 {
  margin: auto;
}

.centre {
  display: table;
  width: 100%;
}

nav {
  padding: 20px;
  display: table-cell;
  background-color: #c5ff84;
  width: 150px;
  vertical-align: top;
}

.navimg {
  position: relative;
  right: 7px;
}

.navtext {
  visibility: hidden;
}

.nagivation:hover > .navtext {
  visibility: visible;
}

.content {
  padding: 20px;
  display: table-cell;
  //float: left;
  background-color: #ffef7c;
}

.video {
  height: 300px;
}

label.text {
  float: left;
  width: 7em;
  margin-right: 1em;
}

.rbutton {
  float: left;
  width: 7em;
  margin-right: 1em;
}

fieldset {
  display: inline;
}

table {
  border-collapse: collapse;
  border: 0;
}

thead {
  background-color: #d8e7ff;
}

td {
  padding: 5px;
}

tr.odd {
  background-color: #ffb87a;
}

tr.even {
  background-color: #ffc99b;
}

tfoot {
  background-color: #c49bff;
}

.cakepic {
  height: 100px;
  float: left;
  padding: 5px;
}

.cakerow::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ff9e9e;
}

#errormessage {
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 0px;
  color: red;
}
